<!DOCTYPE html>
<html>
  <head>
    <title>OnlineInterChat - Salon 1</title>
  <%- include('./includeHeaders') %> 
  </head>
  <body>
	<%- include('./coreChat') %> 
    <script src="./chat-3.js"></script>
  </body>
</html>