<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>      <!--Permets d'avoir une seule page pour tout les chats (gain d'espace slug)-->
  <%- include('./includeHeaders') %> <!--Ajout des headers (imports Socket.io boostrapp etc..)-->
  </head>
  <body>
    <%- include('./navBar') %>          <!--Ajout du header/navBar-->
    <%- include('./coreChat') %>        <!--Ajout de la partie qui permets d'écrire et d'envoyer des messages-->
    <script src="./chaterrors.js"></script> <!--Import gestion erreur-->
    <script src="./chatcore.js"></script> <!--Import gestion dynamisme page et sockets-->
  </body>
</html>