<footer class="page-footer font-small pt-4">

    <!-- liens du footer -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
        <div class="col-md-4"></div>
        <!-- Grid column -->
        <div class="col-md-4">
  
          <!-- Content -->
          <h5 class="text-uppercase text-center">Créé par</h5>
          <p class="text-center">Noé Juzan <a href="mailto:noe.juzan@edueptm.ch?Subject=VotreSujet">Contact</a></p>
          <p class="text-center"><a></a></p>
  
        </div>
        <!-- Grid column -->
        <div class="col-md-4"></div>
      </div>
      <!-- Grid row -->
    </div>
    <!-- liens du footer -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020-2021 Copyright:
      <a href="https://www.eptm.ch/"> EPTM</a>
    </div>
    <!-- Copyright -->
</footer>