<!DOCTYPE html>
<html>
  <head>
    <title>OnlineInterChat</title>
    <link rel="stylesheet" href="./stylindex.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript"src="./ressources/jquery-3.5.1.min.js" ></script>
    <link rel="stylesheet" href="./ressources/bootstrap.min.css" >
	  <script type="text/javascript" src="./ressources/popper.min.js" ></script>
	  <script type="text/javascript" src="./ressources/bootstrap.min.js" ></script>
  </head>
  <body>
    <%- include('./navBar') %>       <!-- Ajout de la barre de navigation-->
    <%- include('./indexcontent') %> <!-- Ajout du contenu que l'on veut présent dans l'index-->
    <%- include('./footer') %>       <!-- Ajout du Footer-->
  </body>
</html>