<!DOCTYPE html>
<html>
  <head>
    <title>OnlineInterChat</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
    <link href="//db.onlinewebfonts.com/c/0a6e260470f1214cac84093970e409bd?family=Menco" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="./stylindex.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </head>
  <body>
    <%- include('./navBar') %> 
    <!--Zone Bienvenue-->
    <div class="row justify-content-md-center">
      <div class="col-sm-4 p-2">
        <div class="card">
          <h5 class="card-header">Bienvenue</h5>
          <div class="card-body">
            <h5 class="card-title">Bienvenue sur "OnlineInterChat"</h5>
            <p class="card-text">Il s'agit d'un projet faisant partie de l'orientation "DEV"
              de l'EPTM, Réalisé par Noé Juzan, Apprenti de 3ème année à l'EPTM.
            </p>
          </div>
        </div>
      </div>
    </div>
  <!--Fin zone Bienvenue-->
  <!--Début zone Qu'est-ce que c'est?????-->
  <div class="row justify-content-md-center">
    <div class="col-sm-4 p-2">
      <div class="card">
        <h5 class="card-header">OnlineInterChat ?</h5>
        <div class="card-body">
          <h5 class="card-title">Quesqu'OnlineInterChat ?</h5>
          <p class="card-text">OnlineInterChat est une plateforme de discussion qui peut être déployée soit, localement
            Pour permettre aux collaborateurs d'une entreprise, se trouvant dans le même réseau de discuter
            Sans que tout internet soit au courant des messages échangés. Soit, déployée sur internet pour permettre à
            Plusieurs personne de discuter au travers d'internet et d'échanger sur différents sujets. Notre application
            s’inspire d'IRC et d'équivalent par rapport au fait qu'il s'agit d'un chat dit "sessionnaire".
            Ce qui veut dire qu’aucun message n'est sauvegardé. Nous avons fait ce choix, premièrement, pour des raisons
            de sécurité des données mais aussi car l'application doit être optimisée pour un usage sur téléphone, si on
            devait charger énormément de message lors du chargement de la page, le temps d'afficher les précédents messages,
            l'utilisateur a déjà pu quitter la page web.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--Fin zone Qu'est-ce que c'est????-->
  <!--Début de la zone c'est bien mais maintenant?-->
  <div class="row justify-content-md-center">
    <div class="col-sm-4 p-2">
      <div class="card">
        <h5 class="card-header">Et maintenant ?</h5>
        <div class="card-body">
          <h5 class="card-title">Comment je commence à chatter ?</h5>
          <p class="card-text">Maintenant que vous en êtes arrivés ici, vous vous demandez surement : "Comment est-ce que je commence à chatter ?"
            Et bien ! C'est très simple, il vous suffit de cliquer sur la petite icone de menu en haut à droite de l'écran puis, 
            vous n'avez qu'à sélectionner un "Salon" en cliquant dessus. Vous serez invité à renseigner un nom d'utilisateur.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--Fin zone Qu'est-ce que c'est bien mais mainenant?-->
  </body>
</html>