body{
background-color:#2D3142 !important; 
}
.card-text{
    text-align: justify;
    text-justify: auto;
}
html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px;
  }
  footer, footer.div {
    background-color: #E2E2E2;
  }
p.text-center{
    margin-bottom: 2%;
}