body{
background: hsla(354, 88%, 41%, 1);

background: linear-gradient(45deg, hsla(354, 88%, 41%, 1) 10%, hsla(353, 32%, 72%, 1) 87%);

background: -moz-linear-gradient(45deg, hsla(354, 88%, 41%, 1) 10%, hsla(353, 32%, 72%, 1) 87%);

background: -webkit-linear-gradient(45deg, hsla(354, 88%, 41%, 1) 10%, hsla(353, 32%, 72%, 1) 87%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#c50d1e", endColorstr="#cfa2a7", GradientType=1 );
}
.card-text{
    text-align: justify;
    text-justify: auto;
}
html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px;
  }
  footer, footer.div {
    background-color: #E5E5E5;
  }
p.text-center{
    margin-bottom: 2%;
}
@font-face {font-family: "Menco";
  src: url("https://db.onlinewebfonts.com/t/0a6e260470f1214cac84093970e409bd.eot"); /* IE9*/
  src: url("https://db.onlinewebfonts.com/t/0a6e260470f1214cac84093970e409bd.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("https://db.onlinewebfonts.com/t/0a6e260470f1214cac84093970e409bd.woff2") format("woff2"), /* chrome firefox */
  url("https://db.onlinewebfonts.com/t/0a6e260470f1214cac84093970e409bd.woff") format("woff"), /* chrome firefox */
  url("https://db.onlinewebfonts.com/t/0a6e260470f1214cac84093970e409bd.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
  url("https://db.onlinewebfonts.com/t/0a6e260470f1214cac84093970e409bd.svg#Menco") format("svg"); /* iOS 4.1- */
}