body{
background: hsla(354, 88%, 41%, 1);

background: linear-gradient(45deg, hsla(354, 88%, 41%, 1) 10%, hsla(353, 32%, 72%, 1) 87%);

background: -moz-linear-gradient(45deg, hsla(354, 88%, 41%, 1) 10%, hsla(353, 32%, 72%, 1) 87%);

background: -webkit-linear-gradient(45deg, hsla(354, 88%, 41%, 1) 10%, hsla(353, 32%, 72%, 1) 87%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#c50d1e", endColorstr="#cfa2a7", GradientType=1 );
}
.card-text{
    text-align: justify;
    text-justify: auto;
}
html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px;
  }
  footer, footer.div {
    background-color: #E5E5E5;
  }
p.text-center{
    margin-bottom: 2%;
}